@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #576060;
    --accent1-color: #F4E9E1;
    --accent2-color: #030027;

    --heading-font: 'Outfit', sans-serif;
    --paragraph-font: 'Outfit', sans-serif;

    --nav-background-color: #2CACC9;
    --nav-link-color: #576060;
    --nav-hover-link-color: #F4E9E1;
    --nav-hover-background-color: #030027;

}

header {
	display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 275px;
    align-items: center;
    background-color: var(--nav-background-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--nav-link-color);
    padding: 10px;
    border: 1px solid black;

}
header img {
    border: solid black;
}

body {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: relative;
}

.hero article {
    position: relative;
}
.hero article img {
    float: right;
}

.history section {
    display: flex;
    flex-direction: row;
}

.adventure section {
    display: flex;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}
